@model IEnumerable<ClientManagement.Core.Models.Employee>

@{
    ViewBag.Title = "ProjectEmployees";
}


<div class="index">
    <div class="container">
        <h2 class="text-center text-capitalize">
            Employees Assigned To
        </h2>
        <h4 class="text-capitalize text-center"><i class="text-info">@ViewBag.Name</i></h4>
        <table class="table table-striped table-hover table-bordered">
            <tr style="background-color:black;color:white;">
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td></td>
                </tr>
            }

        </table>
        <p>


            <a href="@Url.Action("Index", "Project")" class="btn btn-info btn-xs">Back To List</a>

        </p>
    </div>
</div>