@model IEnumerable<ClientManagement.Core.Models.Project>

@{
    ViewBag.Title = "RemoveProject";
}

<div class="assignProject">
    <h2 class="text-capitalize text-center">Reassign <i>@ViewBag.employee.Name</i> From a project</h2>

    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-horizontal col-md-6 col-md-offset-3">
                <hr />

                <div class="form-group">
                    <label class="control-label col-md-2">ProjectName</label>

                    <div class="col-md-10">
                        <select class="form-control" name="ProjectId">
                            <option>Select A Project</option>
                            @foreach (var project in Model)
                            {
                                <option value="@project.Id">@project.Title</option>
                            }

                        </select>
                    </div>
                </div>

                <input type="text" name="EmployeeId" hidden value="@ViewBag.employee.Id" />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Remove" class="btn btn-danger btn-block" />
                    </div>
                </div>
                <hr />

            </div>


        }
    </div>
</div>


