@model ClientManagement.Core.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Client", new {id=Model.Id})" class="btn btn-primary ">Edit</a>
    <a href="@Url.Action("Index", "Client")" class="btn btn-warning ">Back To List</a>

</p>
