@model IEnumerable<ClientManagement.Core.Models.Client>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<div class="index">
    <h2 class="text-center">List Of All Company Clients</h2>

    <div class="container">
        @if (User.IsInRole("Manager"))
        {
            <p>
                <a href="@Url.Action("Create", "Client")" class="btn btn-success">Create New</a>
            </p>
        }
        <table class="table table-striped table-hover table-bordered">
            <tr style="background-color:black;color:white;">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects)

                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Projects.Count)
                    </td>
                    @if (User.IsInRole("Manager"))
                {
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a href="@Url.Action("Edit", "Client", new {id=item.Id})" class="btn btn-primary btn-xs">Edit</a>
                                <a href="@Url.Action("ClientProjects", "Client", new {id=item.Id})" class="btn btn-info btn-xs">ClientProjects</a>
                            </div>
                        </td>
                    }

                </tr>
            }

        </table>
    </div>
</div>